{%extends 'photos/base.html'%}
{% block content %} 

<body class="m-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <a href=" {% url 'gallery' %} " class="btn btn-dark my-3">Go Back</a>
                <div class="card">
                    <form method='POST' action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group m-3">
                            <label">Select a location...</label>
                            <select name="location" class="form-control">
                              <option value="none">select a location</option>  
                              {% for location in locations %}
                              <option value="{{location.id}}">{{ location.name }}</option> 
                              {% endfor %}
                            </select>
                        </div>
                        <div class="form-group m-3">
                            <label">Description</label>
                            <input required type="text" name="description" placeholder="Enter a description" class="form-control">
                        </div>
                        <div class="form-group m-3">
                            <label">Select a category...</label>
                            <select name="category" class="form-control">
                              <option value="none">select a category</option>  
                              {% for category in categories %}
                              <option value="{{category.id}}">{{ category.name }}</option> 
                              {% endfor %}
                            </select>
                        </div>
                        <div class="form-group m-3">
                          <label">Upload image</label>
                          <input required type="file" name="image" class="form-control-file">
                        </div>
                        <button type="submit" class="btn btn-primary m-3">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}