{%extends 'photos/base.html'%} 
{% block content %}
<div class="container">
    <div class="row">
        {% if photos %}
          <h2>Found {{ photos|length }} of searched term {{message}}</h2>
        {% else %}
          <h2> Found 0 photos for the search term {{message}}</h2>
        {% endif %}
    
      </div>
      <div class="row">

        {% if photos %}
          {% for photo in photos %}
          <div class="col-sm-6 col-md-3">
            <div class="card m-3" style="width: 18rem;">
                <img src="{{photo.image.url}}" class="card-img-top" height="450px" width="100%" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Category: {{photo.category}}</h5>
                  <p class="card-text">Description: {{photo.description}}</p>
                  
                </div>
                <div class="card-header">
                    <h4>Location: {{photo.location}}</h4>
                </div>
            </div>
        </div>
          {% endfor %}
        {% endif %}


      
        </div>
    
</div>
{% endblock %}